@import url("h5bp.css");
@import url("bootstrap.min.css");
@import url("../font/stylesheet.css");

/**
 * General styles
 *
 * Note: All references to 17px in this section are linked to the height of the saw images.
 */
article:before {
	position: relative;
	display: block;
	height: 17px;
	top: -17px;
	content: '';
}

.wrapper {
	margin-top: -17px;
}

article {
	width: 100%;
	padding-bottom: 17px;
}

article h2 {
	text-align: center;
}

article h2 a {
	/* Hide linkified titles */
	text-decoration: none;
	cursor: default;
	color: inherit;
}


/**
 * SECTION: Programma
 * 
 * Note: All references to 17px in this section are linked to the size of the checkered paper grid (17x17)
 */
#prog:before {
	background: url("../img/checkered-paper-saw-12x4-top.png");
}

#prog {
	background: url("../img/checkered-paper.png");
	font-family: 'designer_notesregular';
}

#prog h2 {
	font-family: 'designer_notesbold';
	font-size: 30px;
	/* Align h2 to checkered paper */
	padding-top: 1px;
	/* Align text to checkered paper */
	padding-bottom: 7px;
}

#prog p {
	font-size: 17px;
	line-height: 17px;
	margin: 17px 0;
}

/**
 * SECTION: Team
 */
#team:before {
	background: url("../img/album-paper-saw-12x4-top.png");
}

#team {
	background: url("../img/album-paper.png"); 
}




