@import "h5bp.less";
@import "bootstrap.less";

@import "variables.less";
@import "prefixer.less";
@import "flipping-pictures.less";
@import "teams.less";
@import "grid-xxs.less";
@import "activities.less";
@import "sections.less";
@import "easter_egg.less";

/**
 * SECTION: Header
 */
header {
	background: url("../img/atrium.jpg") center;
	.background-size(cover);
	height: 100%;
	margin: 0;
	padding-top: @navbar-height;
}

header table {
	// Please don't kill me now
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
	td {
		vertical-align: middle;
	}
}

.header-logo {
	max-width: 100%;
	margin: 0 auto;
}

/**
 * SECTION: Programma
 */
#sec-prog {
	&:before {
		background: url("../img/checkered-paper-saw-12x4-top.png");
	}
	background: url("../img/checkered-paper.png");
	
	h2 {
		margin-top: 18px; // Align to checkered grid
		margin-bottom: -5px;
	}
	
	p, h3 {
		font-size: @sawed-image-height;
		line-height: @sawed-image-height;
		margin: @sawed-image-height 0;
	}
}

/**
 * SECTION: Team
 */
#sec-team {
	&:before {
		background: url("../img/album-paper-saw-12x4-top.png");	
	}
	background: url("../img/album-paper.png"); 
}

/**
 * SECTION: Activities
 */
#sec-act {
	&:before {
		background: url("../img/plain-paper-saw-12x4-top.png");
	}
	background: url("../img/plain-paper.png");
}

/**
 * SECTION: Games
 */
 
#sec-game {
	&:before {
		background: url("../img/black-saw-12x4-top.png");
	}

	background: black;
	.gameframe {
		width: 100%;
		border: 0;
	}
	
	.game-2048  {
		.gameframe {
			height: 1076px;
		}

		@media screen and (max-width: 537px) {
			.gameframe {
				height: 763px;
			}
		}
	}
}

