@import "variables.bootstrap.less";

@screen-xxs-min: (@screen-xs-min * 9/10);
@screen-xxs-max: (@screen-xs-min - 1);

@sawed-image-height: 17px;

@team-pic-praeses-height: 510px;
@team-pic-height: (@team-pic-praeses-height - @team-pic-margin)/2;
@team-pic-border: 2px;
@team-pic-margin: 4px;

@header-logo-width: 262px;
@header-logo-height: 168px;
