@import "variables.bootstrap.less";

@sawed-image-height: 17px;

@team-pic-praeses-height: 510px;
@team-pic-height: @team-pic-praeses-height/2;
@team-pic-border: 2px;
@team-pic-h-margin: (@team-pic-praeses-height - 2*@team-pic-height)/2;
